@font-face {
    font-family: "Junicode";
    src: url("/fonts/JunicodeVF-Roman.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

body {
    background: url("./img/meadow2.png");
    background-size: 100vw, 100vw;
}

* {
    image-rendering: pixelated;
    font-family: "Jacquard 24";
}

header {
    font-size: 48px;
    color: #a9bb71;
    text-align: center;
}

pre {
    white-space: pre-wrap;
}

code {
    font-family: "Courier Prime";
    word-wrap: break-word;
}

code span {
    font-family: "Courier Prime";
}

.header {
    font-size: 24px;
    color: #a9bb71;
    text-align: center;
    font-family: "Junicode";
}

.border {
    border: 3px outset #647040;
    background-color: rgb(57, 78, 47, 85%);
    padding: 18px 36px;
    color: white;
}

.content {
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
strong {
    font-family: "Junicode";
}

a {
    color: #e31933;
    padding: 1px;
    font-family: "Junicode";
}

a:hover,
a:focus {
    background-color: #766174;
    color: white;
}

p {
    font-family: "Junicode";
}

@media only screen and (max-width: 600px) {
    .container {
        max-width: 85%;
        margin: 1rem auto;
    }
}

@media only screen and (min-width: 992px) {
    .container {
        max-width: 50%;
        margin: 1rem auto;
    }

    .header {
        font-size: 36px;
    }

    p {
        font-size: 24px;
    }

    ul {
        font-size: 24px;
    }

    .directory {
        font-size: 24px;
    }
}

.directory {
    text-align: center;
}
